.home-menu_section {
  min-height: 780px;
}

.home-menu_bg {
  height: 780px;
  position: absolute;
  width: 100%;
  z-index: 0;
  background-image: url("../../assets/img/menu/bg.png");
}

.home-menu_text-section {
  position: relative;
  z-index: 10;
  top: 18rem;
}

.home-menu_text-container {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.home-menu_text-h2 {
  text-transform: uppercase;
  color: #fff;
  max-width: 400px;
  text-align: center;
  font-weight: 900;
  margin-bottom: 20px;
  font-size: 46px;
}

.home-menu_text-p {
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.home-menu_gallery-wrapper {
  position: relative;
  top: 20rem;
}

.home-menu_gallery-container {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery_div {
  min-height: 590px;
  z-index: 30;
  margin-bottom: 20px;
}

.home-menu_gallery-grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  min-height: 590px;
}

.gallery-item {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.gallery-order {
  width: 45%;
}

.gallery-text {
  background-color: #fef7e5;
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1.5rem;
}

.gallery-name {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 900;
  color: black;
}

.gallery-price {
  margin: 0.5rem 0;
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
}

.menu-btn {
  text-transform: uppercase;
  text-align: center;
}

/* For screens with a width of 768px or larger */
@media (min-width: 768px) {
  .gallery_div {
    margin-bottom: 1rem;
  }

  .gallery-order {
    width: auto;
  }
}

/* For screens with a width of 1024px or larger */
@media (min-width: 1024px) {
  .home-menu_text-section {
    top: 13rem;
  }

  .home-menu_gallery-wrapper {
    top: 24rem;
  }

  .gallery_div {
    margin-top: -6rem;
  }

  .home-menu_gallery-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .gallery-item {
    flex-direction: column;
  }

  .gallery-text {
    padding: 3rem;
    max-height: 250px;
  }

  .gallery-price {
    margin: 1.5rem 0;
    font-size: 40px;
  }
}

/* For screens with a width of 1440px or larger */
@media (min-width: 1440px) {
  .gallery_div {
    margin-bottom: 4rem;
  }

  .gallery-text {
    max-height: max-content;
  }

  .gallery-font {
    font-size: 2rem;
  }
}
