.hero-box {
  background-image: url("../../assets/food1.jpg") !important;
  background-repeat: no-repeat !important;
  background-size: cover;
  width: 100% !important;
  height: 100vh !important;
  object-fit: cover;
  color: #fff;
}

.hero-div {
  width: 50%;
  padding: 200px 0 0 20%;
}

.hero-title {
  font-size: 5rem;
  margin: 0;
  text-shadow: 2px 2px #000;
}

.hero-desc {
  color: #fff;
  font-size: 18px;
  line-height: 27px;
  padding: 30px 0;
}

button {
  margin-top: 15px;
  border-radius: 5px;
  padding: 0.3rem;
}

.btn {
  background: #e5f500;
  background-image: -webkit-linear-gradient(top, #e5f500, #f5b000);
  background-image: -moz-linear-gradient(top, #e5f500, #f5b000);
  background-image: -ms-linear-gradient(top, #e5f500, #f5b000);
  background-image: -o-linear-gradient(top, #e5f500, #f5b000);
  background-image: linear-gradient(to bottom, #e5f500, #f5b000);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  border: 0;
  font-family: Arial;
  color: #6b6b6b;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #fcc63c;
  background-image: -webkit-linear-gradient(top, #fcc63c, #fada3c);
  background-image: -moz-linear-gradient(top, #fcc63c, #fada3c);
  background-image: -ms-linear-gradient(top, #fcc63c, #fada3c);
  background-image: -o-linear-gradient(top, #fcc63c, #fada3c);
  background-image: linear-gradient(to bottom, #fcc63c, #fada3c);
  text-decoration: none;
}

@media (max-width: 768px) {
  .hero-title {
    font-size: 3rem;
  }
}
