.hero-box {
  min-height: 980px;
  background-image: url("../../assets/img/hero/bg.png");
  background-size: cover;
  background-position: right;
}

.hero-container {
  width: 100%;
  margin: 0 auto;
  min-height: 980px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-pretitle {
  color: #fff;
  font-size: 24px;
  font-weight: medium;
  font-style: italic;
  margin-bottom: 5px;
}

.hero-title {
  margin-bottom: 25px;
  font-size: 3.75rem;
  font-weight: bold;
  color: #fff;
}

.hero-subtitle {
  color: #fff;
  max-width: 540px;
  margin-bottom: 40px;
  font-size: 20px;
}

button {
  margin-top: 15px;
  border-radius: 5px;
  padding: 0.3rem;
}

.btn {
  background: #e5f500;
  background-image: -webkit-linear-gradient(top, #e5f500, #f5b000);
  background-image: -moz-linear-gradient(top, #e5f500, #f5b000);
  background-image: -ms-linear-gradient(top, #e5f500, #f5b000);
  background-image: -o-linear-gradient(top, #e5f500, #f5b000);
  background-image: linear-gradient(to bottom, #e5f500, #f5b000);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  border: 0;
  font-family: Arial;
  color: #6b6b6b;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #fcc63c;
  background-image: -webkit-linear-gradient(top, #fcc63c, #fada3c);
  background-image: -moz-linear-gradient(top, #fcc63c, #fada3c);
  background-image: -ms-linear-gradient(top, #fcc63c, #fada3c);
  background-image: -o-linear-gradient(top, #fcc63c, #fada3c);
  background-image: linear-gradient(to bottom, #fcc63c, #fada3c);
  text-decoration: none;
}

@media (max-width: 768px) {
  .hero-div {
    width: 100%;
    padding: 100px 0 0 10%;
  }
}
